/* index */
@font-face {
    font-family: mi fuente;
    src: url(fontos/GlacialIndifference-Regular.otf);
}

body{
    background-color: white;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 94px;
}


h1{
    font-family:  "mi fuente";
    text-align: center;
    text-decoration:solid
}

h2{
    font-family: "mi fuente";
    color: blueviolet;
    text-align: center;
}


#fila1{
display: flex;
justify-content:space-around;

}

#fila2{
    display: flex;
    justify-content:space-around;
    
    
}
    
#fila3{
    display: flex;
    justify-content:space-around;
}



/* footer */
p{
    font-family: "mi fuente";
    color: blueviolet;
    text-align: center;
    font-size: 20px;
}
/* footer */